services:
  - type: web
    name: assistente-baffone
    env: node
    buildCommand: "npm install"
    startCommand: "npm start"
    plan: free
    envVars:
      - key: OPENAI_API_KEY
        sync: false
      - key: BASE_URL
        sync: false
